{% extends "layout.html" %}

{% block main %}

<main class="form-signin w-50 m-auto">
    <form method="POST" action="">
        <!-- adds in a cross-site request forgery (CSRF) token to protect the form-->
        {{ form.hidden_tag() }}

        <h1 class="h3 my-4 fw-normal">Please Login</h1>
        <div class="form-floating">
            {{ form.username(class="form-control") }}
            {{ form.username.label }}
        </div>
        <div class="form-floating">
            {{ form.password(class="form-control") }}
            {{ form.password.label }}
        </div>
        <div>
            {{ form.submit(class="btn btn-primary w-100 py-2 my-3") }}
        </div>
        <small class="text-muted">
            <a href="#">Forgot Password?</a>
        </small>
    </form>
    <div>

    </div>  
    <div class="border-top pt-3">
        <small class="text-muted">
            Have not Registered an Account? <a href="{{ url_for('register') }}">Register Now</a>
        </small>
    </div>
</main>

{% endblock %}